<a href="https://colab.research.google.com/github/Chandradithya8/Feature_Engineering/blob/main/Feature_Engineering_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HANDLE CATEGORICAL FEATURES

Nominal Encoding

One Hot Encoding

In [ ]:
import pandas as pd
df=pd.read_csv('/content/titanic.csv.txt',usecols=['Sex'])
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [ ]:
a=pd.get_dummies(df.Sex)
a.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [ ]:
b=pd.get_dummies(df.Sex,drop_first=True)
b.head()

   male
0     1
1     0
2     0
3     0
4     1

One hot encoding with many features

In [ ]:
import pandas as pd
df=pd.read_csv("/content/mercedesbenz.csv.txt",usecols=['X0','X1','X2','X3','X4','X5','X6'])
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [ ]:
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
i      18
aq     18
am     18
u      17
aw     16
l      16
ad     14
b      11
au     11
k      11
as     10
r      10
bc      6
ao      4
c       3
q       2
aa      2
g       1
ac      1
ab      1
Name: X0, dtype: int64

In [ ]:
for i in df.columns:
  print(len(df[i].unique()))

47
27
44
7
4
29
12

In [ ]:
df['X0'].unique()

array(['k', 'az', 't', 'al', 'o', 'w', 'j', 'h', 's', 'n', 'ay', 'f', 'x',
       'y', 'aj', 'ak', 'am', 'z', 'q', 'at', 'ap', 'v', 'af', 'a', 'e',
       'ai', 'd', 'aq', 'c', 'aa', 'ba', 'as', 'i', 'r', 'b', 'ax', 'bc',
       'u', 'ad', 'au', 'm', 'l', 'aw', 'ao', 'ac', 'g', 'ab'],
      dtype=object)

In [ ]:
labels=df['X0'].value_counts().head(10).index
labels=list(labels)
labels

['z', 'ak', 'y', 'ay', 't', 'x', 'o', 'f', 'n', 'w']

In [ ]:
import numpy as np
def ohe(df,categories,labels):
  for i in labels:
    df[categories+'_'+i]=np.where(df[categories]==i,1,0)

In [ ]:
ohe(df,'X0',labels)
df.head()

   X0 X1  X2 X3 X4 X5 X6  X0_z  ...  X0_y  X0_ay  X0_t  X0_x  X0_o  X0_f  X0_n  X0_w
0   k  v  at  a  d  u  j     0  ...     0      0     0     0     0     0     0     0
1   k  t  av  e  d  y  l     0  ...     0      0     0     0     0     0     0     0
2  az  w   n  c  d  x  j     0  ...     0      0     0     0     0     0     0     0
3  az  t   n  f  d  x  l     0  ...     0      0     0     0     0     0     0     0
4  az  v   n  f  d  h  d     0  ...     0      0     0     0     0     0     0     0

[5 rows x 17 columns]

In [ ]:
#def fn(df,categories):
 # for i in categories:
  #  labels=df[i].value_counts().head(10).index
   # for j in labels:
    #  df[categories+'_'+j]=np.where(df[i]==j,1,0)

In [ ]:
#for k in df.columns:
 # fn(df,k)
#df.head()

Ordinal Encoding

In [ ]:
import datetime
today_date=datetime.datetime.today()
today_date

datetime.datetime(2020, 10, 23, 3, 22, 7, 128900)

In [ ]:
today_date-datetime.timedelta(1)

datetime.datetime(2020, 10, 22, 3, 22, 7, 128900)

In [ ]:
today_date-datetime.timedelta(3)

datetime.datetime(2020, 10, 20, 3, 22, 7, 128900)

In [ ]:
a=[today_date-datetime.timedelta(x) for x in range(0,15)] # date for 15 days
a

[datetime.datetime(2020, 10, 23, 3, 22, 7, 128900),
 datetime.datetime(2020, 10, 22, 3, 22, 7, 128900),
 datetime.datetime(2020, 10, 21, 3, 22, 7, 128900),
 datetime.datetime(2020, 10, 20, 3, 22, 7, 128900),
 datetime.datetime(2020, 10, 19, 3, 22, 7, 128900),
 datetime.datetime(2020, 10, 18, 3, 22, 7, 128900),
 datetime.datetime(2020, 10, 17, 3, 22, 7, 128900),
 datetime.datetime(2020, 10, 16, 3, 22, 7, 128900),
 datetime.datetime(2020, 10, 15, 3, 22, 7, 128900),
 datetime.datetime(2020, 10, 14, 3, 22, 7, 128900),
 datetime.datetime(2020, 10, 13, 3, 22, 7, 128900),
 datetime.datetime(2020, 10, 12, 3, 22, 7, 128900),
 datetime.datetime(2020, 10, 11, 3, 22, 7, 128900),
 datetime.datetime(2020, 10, 10, 3, 22, 7, 128900),
 datetime.datetime(2020, 10, 9, 3, 22, 7, 128900)]

In [ ]:
import pandas as pd
df=pd.DataFrame(a)
df.columns=['Date']
df.head()

                        Date
0 2020-10-23 03:22:07.128900
1 2020-10-22 03:22:07.128900
2 2020-10-21 03:22:07.128900
3 2020-10-20 03:22:07.128900
4 2020-10-19 03:22:07.128900

In [ ]:
df['weekday']=df['Date'].dt.strftime("%A") #week_days
df.head()

                        Date    weekday
0 2020-10-23 03:22:07.128900     Friday
1 2020-10-22 03:22:07.128900   Thursday
2 2020-10-21 03:22:07.128900  Wednesday
3 2020-10-20 03:22:07.128900    Tuesday
4 2020-10-19 03:22:07.128900     Monday

In [ ]:
dic={
    'Monday':1,
     'Tuesday':2,
     'Wednesday':3,
     'Thursday':4,
     'Friday':5,
     'Saturday':6,
     'Sunday':7
}
dic

{'Friday': 5,
 'Monday': 1,
 'Saturday': 6,
 'Sunday': 7,
 'Thursday': 4,
 'Tuesday': 2,
 'Wednesday': 3}

In [ ]:
df['ordinal']=df['weekday'].map(dic)
df.head()

                        Date    weekday  ordinal
0 2020-10-23 03:22:07.128900     Friday        5
1 2020-10-22 03:22:07.128900   Thursday        4
2 2020-10-21 03:22:07.128900  Wednesday        3
3 2020-10-20 03:22:07.128900    Tuesday        2
4 2020-10-19 03:22:07.128900     Monday        1

Count or Frequency Encoding

In [ ]:
import pandas as pd
df=pd.read_csv("/content/mercedesbenz.csv.txt",usecols=['X1','X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [ ]:
for i in df.columns:
  print(i,':',len(df[i].unique()),"labels")

X1 : 27 labels
X2 : 44 labels

In [ ]:
freq_map=df.X2.value_counts()
freq_map

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
d       18
ac      13
g       12
y       11
ap      11
x       10
aw       8
at       6
h        6
q        5
an       5
al       5
ah       4
av       4
p        4
au       3
ar       1
am       1
af       1
c        1
l        1
o        1
aa       1
j        1
Name: X2, dtype: int64

In [ ]:
df.X2=df.X2.map(freq_map) #Disadvantage- provides the same weight if the frequencies are same.
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

Target guided ordinal encoding
1. ordering the labels according to the target.
2.replace the labels by the joint probability of being 0 or 1.

In [ ]:
 import pandas as pd
 df=pd.read_csv('/content/titanic.csv.txt',usecols=['Cabin','Survived'])
 df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [ ]:
import numpy as np
df['Cabin'].fillna('Missing',inplace=True)
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [ ]:
df['Cabin']=df['Cabin'].astype(str).str[0] #taking the first letter

In [ ]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [ ]:
df['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [ ]:
df.groupby('Cabin')['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [ ]:
df.groupby('Cabin')['Survived'].mean().sort_values(ascending=True)

Cabin
T    0.000000
M    0.299854
A    0.466667
G    0.500000
C    0.593220
F    0.615385
B    0.744681
E    0.750000
D    0.757576
Name: Survived, dtype: float64

In [ ]:
ordinal_freq=df.groupby('Cabin')['Survived'].mean().sort_values(ascending=True).index
ordinal_freq

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [ ]:
freq={k:i for i,k in enumerate(ordinal_freq,0)}
freq

{'A': 2, 'B': 6, 'C': 4, 'D': 8, 'E': 7, 'F': 5, 'G': 3, 'M': 1, 'T': 0}

In [ ]:
df['Cabin_label']=df['Cabin'].map(freq)
df.head()

   Survived Cabin  Cabin_label
0         0     M            1
1         1     C            4
2         1     M            1
3         1     C            4
4         0     M            1

Mean Encoding

In [ ]:
mean_ordinal=df.groupby('Cabin')['Survived'].mean().to_dict()
mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [ ]:
df['mean_ordinal_encode']=df['Cabin'].map(mean_ordinal)
df.head()

   Survived Cabin  Cabin_label  mean_ordinal_encode
0         0     M            1             0.299854
1         1     C            4             0.593220
2         1     M            1             0.299854
3         1     C            4             0.593220
4         0     M            1             0.299854

Probability Ratio Encoding

In [ ]:
import pandas as pd
df=pd.read_csv("/content/titanic.csv.txt",usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [ ]:
df['Cabin'].fillna('Missing',inplace=True)
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [ ]:
df['Cabin']=df['Cabin'].astype(str).str[0]
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [ ]:
df['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [ ]:
prob=df.groupby('Cabin')['Survived'].mean()
prob

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [ ]:
prob=pd.DataFrame(prob)
prob

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [ ]:
prob['Died']=1-prob['Survived']
prob

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000
F      0.615385  0.384615
G      0.500000  0.500000
M      0.299854  0.700146
T      0.000000  1.000000

In [ ]:
prob['Probability']=prob['Survived']/prob['Died']
prob.head()

       Survived      Died  Probability
Cabin
A      0.466667  0.533333     0.875000
B      0.744681  0.255319     2.916667
C      0.593220  0.406780     1.458333
D      0.757576  0.242424     3.125000
E      0.750000  0.250000     3.000000

In [ ]:
a=prob['Probability'].to_dict()
a

{'A': 0.875,
 'B': 2.916666666666666,
 'C': 1.4583333333333333,
 'D': 3.125,
 'E': 3.0,
 'F': 1.6000000000000003,
 'G': 1.0,
 'M': 0.42827442827442824,
 'T': 0.0}

In [ ]:
df['Cabin_encoded']=df['Cabin'].map(a)
df.head()

   Survived Cabin  Cabin_encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274